@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SUSE", sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.zoom-in-hey {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

.zoom-out-hey {
  transform: scale(1);
  transition: transform 0.5s ease;
}
